_ReSharper*\*
*/.idea/*
.idea/*
*/obj/*
*/Bin/*
*/bin/*
*/.logs/*
*.suo
*.rej
*.sln.DotSettings.user
*.resharper.user
*.ReSharper.user
*.TeamCity.user
*.orig
*.csproj.user
*.sln.cache
trace.db3
perf.db3
*.Publish.xml
*.wixproj.user
*.msi
*.bak
*.user.config
bin/
obj/
*.pidb
*.userprefs
*.log
*/obj/*
*.info
build/output/*
build/temp/*
.vs
*.DS_Store
/src/.idea
**/.logs/*
launchSettings.json
/build-output/*
/src/packages/*