<h3>Новый клиент</h3>

<p>
  <a routerLink="/customers">Назад</a>
</p>

<form [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="form">
  <div>
    <label for="lastName">Фамилия</label>
    <input id="lastName" type="text" formControlName="lastName" class="input-group-text" required>
    <div *ngIf="customerForm.get('lastName').invalid && (customerForm.get('lastName').touched || customerForm.get('lastName').dirty)">
      <span *ngIf="customerForm.get('lastName').errors?.required">Field is required</span>
    </div>
  </div>
  <div>
    <label for="firstName">Имя</label>
    <input id="firstName" type="text" formControlName="firstName" class="input-group-text" required>
    <div *ngIf="customerForm.get('firstName').invalid && (customerForm.get('firstName').touched || customerForm.get('firstName').dirty)">
      <span *ngIf="customerForm.get('firstName').errors?.required">Field is required</span>
    </div>
  </div>
  <div>
    <label for="patronymic">Отчество</label>
    <input id="patronymic" type="text" formControlName="patronymic" class="input-group-text" required>
    <div *ngIf="customerForm.get('patronymic').invalid && (customerForm.get('patronymic').touched || customerForm.get('patronymic').dirty)">
      <span *ngIf="customerForm.get('patronymic').errors?.required">Field is required</span>
    </div>
  </div>
  <div>
    <label for="birthDate">Дата рождения</label>
    <input id="birthDate" type="date" formControlName="birthDate" class="input-group-text" required>
    <div *ngIf="customerForm.get('birthDate').invalid && (customerForm.get('birthDate').touched || customerForm.get('birthDate').dirty)">
      <span *ngIf="customerForm.get('birthDate').errors?.required">Field is required</span>
    </div>
  </div>
  <div>
    <label for="address">Адрес</label>
    <input id="address" type="text" formControlName="address" class="input-group-text" required>
    <div *ngIf="customerForm.get('address').invalid && (customerForm.get('address').touched || customerForm.get('address').dirty)">
      <span *ngIf="customerForm.get('address').errors?.required">Field is required</span>
    </div>
  </div>

  <button class="btn btn-success" type="submit">Добавить</button>
</form>
